{% load static %}
<!doctype html>
<html lang="fa">
<head>
  <meta charset="utf-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/courses.css' %}">
</head>
<body>

<div class="app">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="brand">
      <img src="{% static 'images/admin logo.svg' %}" class="brand-logo">
      <div>
        <div class="brand-title">Admin Dashboard</div>
        <div class="brand-sub">Course Management</div>
      </div>
    </div>

    <nav class="nav">
      <button class="nav-item active">
        <img src="{% static 'images/streamline-flex-color_dashboard-3-flat.svg'%}" class="brand-logo-small">
        Dashboard
      </button>
      <button class="nav-item" onclick="window.location.href='{% url "courses_page" %}'">
    <img src="{% static 'images/icon-park_book-one.svg' %}" class="brand-logo-small">
    Manage Courses
</button>

    </nav>
  </aside>

  <!-- MAIN -->
  <main class="main">
    <header class="main-header">
      <h2 class="title-with-logo">
        <img src="{% static 'images/streamline-flex-color_dashboard-3-flat.svg' %}" class="title-icon">
        Dashboard
      </h2>
    </header>

    <section class="dashboard-main">
      <div class="dashboard-card">
        <h3>Welcome to Admin Dashboard</h3>
        <p>Use the menu to manage courses.</p>
      </div>
    </section>
  </main>

</div>
<script>
  const token = localStorage.getItem("access_token");

  if (!token) {
    window.location.href = "/login/";
  }
</script>


</body>
</html>
